<div class="body">
    <div class="form">
        <form action="/celebrities/{{celebrities._id}}/edit" method="post">

    <input type="text" name="name" value="{{celebrities.name}}">
    <input type="text" name="occupation" value="{{celebrities.occupation}}"> 
    <input type="text" name="catchPhrase" value="{{celebrities.catchPhrase}}">

<button type="submit">Submit</button>
</form>
    </div>
</div>
  <footer><p>Welcome to {{title}}</p></footer>