<h2>Movie details</h2>
<h3>{{movies.title}}</h3>
<p>{{movies.genre}}</p>
<p>{{movies.plot}}</p>
{{#each movies.cast}}
<h4>{{this.name}}</h4>
<p>{{this.occupation}}</p>
<p>{{this.catchPhrase}}</p>
{{/each}}
<form action="/movies/{{movies._id}}/delete" method="post">
<button>Delete</button>
</form>  