<div class="body-single">
  <div class="row">
    <div class="container-single">
      <h3>{{movies.title}}</h3>
<p>{{movies.genre}}</p>
<p>{{movies.plot}}</p>
{{#each movies.cast}}
<h3>{{this.name}}</h3>
<p>{{this.occupation}}</p>
<p>{{this.catchPhrase}}</p>
{{/each}}
<form action="/movies/{{movies._id}}/delete" method="post">
<button>Delete</button>
</form>   
    </div>
 
</div>
  </div>

  <footer><p>Welcome to {{title}}</p></footer>